apiVersion: v1
kind: Service
metadata:
  name: redis
  annotations:
    external-dns.alpha.kubernetes.io/hostname: redis.home.coolkev.com
spec:
  type: LoadBalancer
  selector:
    app: redis
  ports:
    - protocol: TCP
      port: 6379
      targetPort: 6379
