apiVersion: apps/v1
kind: Deployment
metadata:
  name: jellyfin
  namespace: jellyfin
  labels:
    app: jellyfin
spec:
  strategy:
    # Required because VictoriaMetrics in single-instance mode uses a locking
    # strategy to prevent multiple instances from writing to the same storage
    type: Recreate
  replicas: 1
  revisionHistoryLimit: 1
  selector:
    matchLabels:
      app: jellyfin
  template:
    metadata:
      labels:
        app: jellyfin
    spec:
      containers:
        - name: jellyfin
          image: lscr.io/linuxserver/jellyfin:latest
          env:
            - name: PGID
              value: "1000"
            - name: PUID
              value: "1000"
            - name: TZ
              value: "Etc/UTC"
            - name: JELLYFIN_PublishedServerUrl
              value: "https://jellyfin.home.coolkev.com"
          ports:
            - containerPort: 1900
              protocol: UDP
            - containerPort: 7359
              protocol: UDP
            - containerPort: 8096
              protocol: TCP
            - containerPort: 8920
              protocol: TCP
          volumeMounts:
            - name: config
              mountPath: /config
            - name: movies
              mountPath: /data/movies
            - name: tv
              mountPath: /data/tvshows
      volumes:
        - name: config
          nfs:
            server: 10.60.1.15
            path: /data/services/jellyfin
        - name: movies
          nfs:
            server: 10.60.1.15
            path: /data/mounts/movies
        - name: tv
          nfs:
            server: 10.60.1.15
            path: /data/mounts/tv
